doctype html
html(lang='en', dir='ltr')
	head
		meta(charset='utf-8')
		title Circle / rectangle collision detection
		link(rel="stylesheet" href="/styles/playable.css")
	body
		#container
	script(type='text/javascript', src='/scripts/playble.js')
